@mixin henris-blockquote($el: 'blockquote'){
	#{$base-prefix}#{$el} {
		position: relative;
		display: inline-block;
		border: 1px solid color(Black, 0.2);
		padding: 1rem 2rem;
		@content;
		&::before,
		&::after {
			position: absolute;
			display: block;
			width: 2rem;
			height: 2rem;
			color: color(Black, 0.2);
			font-size: 2rem;
			font-family: serif;
			line-height: 3rem;
			text-align: center;
		}
		&::before {
			content: "\201c";
			top: 0;
			left: 0;
		}
		&::after {
			content: "\201d";
			right: 0;
			bottom: 0;
		}
		cite {
			color: currentColor;
			a {
				color: currentColor;
			}
		}
	}
}

@if output("components", "blockquote") {
	@include henris-blockquote();
}