@mixin henris-hidden($el: '.hidden') {
	#{$el} {
		position: absolute;
		height: px;
		border: 0;
		margin: -1px;
		padding: 0;
		clip: rect(0 0 0 0);
		overflow: hidden;
	}
}

@if output('helpers') {
	@include henris-hidden();
}
