@if output("helpers") {
	.hide-scroll {
		-ms-overflow-style: -ms-autohiding-scrollbar;
		::-webkit-scrollbar {
			width: 0px; /* remove scrollbar space */
			background: transparent; /* optional: just make scrollbar invisible */
		}
		::-webkit-scrollbar-thumb {
			background: transparent;
		}
	}
}
