$heading-font-weights: (
	"Light": $typography-font-weight-light,
	"Regular": $typography-font-weight-regular,
	"Bold": $typography-font-weight-bold
); //
$body-font-weights: (
	"Light": $typography-font-weight-light,
	"Regular": $typography-font-weight-regular,
	"Medium": $typography-font-weight-medium,
	"Bold": $typography-font-weight-bold
); //
$code-font-weights: (
	"Regular": $typography-font-weight-regular,
	"Bold": $typography-font-weight-bold
); //
//
$font-light: map-get($heading-font-weights, Light); //
$font-regular: map-get($heading-font-weights, Regular); //
$font-medium: map-get($heading-font-weights, Medium); //
$font-bold: map-get($heading-font-weights, Bold); //

// Base font
/*
	Use font-include for single fonts
	and font-list for a list using the $*-font-weights list
*/
$heading-font: "RobotoCondensed"; //
$heading-font-name: "RobotoCondensed-"; //
$heading-font-family: #{$heading-font}, serif; //
//
/* embed sing font weight */
// @include font-list($heading-font,$heading-font-name,$heading-font-weights,normal);

//
/* embed font family as list */
//@include font-list($heading-font,$heading-font-name,$heading-font-weights,normal); //
%#{$base-prefix}heading-font-family {
	font-family: $heading-font-family;
	text-transform: uppercase;
}
//
$body-font: "Roboto"; //
$body-font-name: "Roboto-"; //
$body-font-family: #{$body-font}, sans-serif; //
/* embed sing font weight */
//@include font-include($body-font,$body-font-name,normal,normal);
//
/* embed font family as list */
// @include font-list($body-font,$body-font-name,$body-font-weights,normal); //

%#{$base-prefix}body-font-family {
	font-family: $body-font-family;
	font-weight: normal;
}
//
$code-font: "RobotoMono"; //
$code-font-name: "RobotoMono-"; //
$code-font-family: #{$code-font}, Monaco, courier, monospace, sans-serif; //
/* embed sing font weight */
//@include font-include($body-font,$body-font-name,normal,normal);
//
/* embed font family as list */
// @include font-list($code-font,$code-font-name,$code-font-weights,normal); //

%#{$base-prefix}code-font-family {
	font-family: $code-font-family;
	font-weight: normal;
}
