@mixin browser($browser, $version: null) {
	@if $browser == 'safari' {
		@if $version {
			@if $version == 9 {
				@supports (overflow: -webkit-marquee) and (justify-content: inherit) {
					@content;
				}
			}
		}
		@elseif $version == '6>7' {
			@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-color-index: 0) {
				@content;
			}
		} @else {
			@media screen and (min-color-index: 0) and(-webkit-min-device-pixel-ratio:0) {
				@supports (overflow: -webkit-marquee) and (justify-content: inherit) {
					@content;
				}
			}
		}
	}
	@elseif $browser == 'firefox' {
		@-moz-document url-prefix() {
			@content;
		}
	}
	@elseif $browser == 'chrome' {
		/* Chrome 22-28+ */
		@if $version == '22-28' {
			@media screen and(-webkit-min-device-pixel-ratio:0) {
				@content;
			}
		}

		/* Chrome 29+ */
		@elseif $version == '29+' {
			@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
				@content;
			}
		} @else {
			// newest
			@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
				@content;
			}
		}
	}
}
