@if output(details) {
	details {
		summary {
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-size: 14px;
			outline: none;
			&:focus {
				outline: none;
			}
			& + fieldset {
				margin-top: 1rem;
			}
		}
		transition: max-height 0.3s;
		max-height: 50vh;
		&:not([open]) {
			max-height: 1rem;
		}
		&[open] {
		}
		& + details {
			margin-top: 1rem;
		}
		summary::-webkit-details-marker {
			display: none;
		}
		summary:after {
			display: block;
			content: "\276E";
			width: 14px;
			height: 14px;
			line-height: 14px;
			text-align: center;
			float: left;
			transition: transform 0.2s;
			margin-right: 4px;
			transform: scale(1, 1) rotate(90deg);
		}
		&[open] summary:after {
			transform: scale(1, -1) rotate(90deg);
		}
	}
}
