$base-prefix: '' !default; //
$base-prefix-grid: '' !default; //
$base-border-radius: 3px !default; //
$base-border-width: 1px !default; //
$base-space: 1rem !default; //
$base-font-size: 16px !default; //
$base-font-path: '/fonts' !default; //
$base-image-path: '/images' !default; //
$base-transition: .3s !default; //
$base-transition-time: .3 !default; //
$base-cubic-bezier: cubic-bezier(0,.5,1,.5) !default; //
$base-box-shadow: 0 0 100px 0 rgba(0,0,0,.1) !default; //
$base-color-dark: #101010 !default; //
$base-color-light: #ffffff !default; //
$base-color-shadow: #101010 !default; //
$base-color-primary: #1eb3e0 !default; //
$base-color-secondary: #7329b1 !default; //
$base-color-warning: #f6790b !default; //
$base-color-error: #eb0f33 !default; //
$base-color-notification: #f5c505 !default; //
$base-color-success: #10c565 !default; //
