$base-prefix: '' !default; //
$base-border-radius: 3px !default; //
$base-space: 1rem !default; //
$base-font-size: 16px !default; //
$base-font-path: '/fonts' !default; //
$base-image-path: '/images' !default; //
$base-transition: .3s !default; //
$base-transition-time: .3 !default; //
$base-box-shadow: 0 0 100px 0 rgba(0,0,0,.1) !default; //
$base-cubic-bezier: 'cubic-bezier(.17,.67,.83,.67' !default; //
