$button-font-family: 'RobotoCondensed, Roboto Condensed, Helvetica Neue Condensed, Impact, sans-serif' !default; //
$button-background-color: #101010 !default; //
$button-padding: '0vw 4.166666666666667vw' !default; //
$button-text-transform: uppercase !default; //
$button-font-size: 14px !default; //
$button-border-radius: 2px !default; //
$button-line-height: 1 !default; //
$button-font-weight: 600 !default; //
