$button-height: auto !default; //
$button-width: auto !default; //
$button-color: #ffffff !default; //
$button-background-color: #1eb3e0 !default; //
$button-border-color: #101010 !default; //
$button-border-radius: 2px !default; //
$button-border-width: 0 !default; //
$button-border-style: solid !default; //
$button-padding: 0.75em 1.5em !default; //
$button-font-size: 16px !default; //
$button-text-transform: uppercase !default; //
$button-text-decoration: none !default; //
$button-line-height: 1 !default; //
$button-font-family: '-apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol' !default; //
$button-font-weight: 600 !default; //
$button-cursor: pointer !default; //
$button-hover-color: #ffffff !default; //
$button-hover-background-color: #101010 !default; //
$button-hover-border-color: #101010 !default; //
$button-hover-border-width: 0 !default; //
$button-hover-border-style: solid !default; //
$button-hover-cursor: pointer !default; //
$button-focus-color: #ffffff !default; //
$button-focus-background-color: #101010 !default; //
$button-focus-border-color: #101010 !default; //
$button-focus-border-width: 0 !default; //
$button-focus-border-style: solid !default; //
$button-focus-cursor: pointer !default; //
$button-active-color: #ffffff !default; //
$button-active-background-color: #101010 !default; //
$button-active-border-color: #101010 !default; //
$button-active-border-width: 0 !default; //
$button-active-border-style: solid !default; //
$button-active-cursor: pointer !default; //
