$color-title: 'default' !default; //
$color-default-black: #101010 !default; //
$color-default-dark: #303030 !default; //
$color-default-white: #ffffff !default; //
$color-default-offwhite: #f7f7f7 !default; //
$color-default-gray: #7f7f7f !default; //
$color-default-green: #10c565 !default; //
$color-default-blue: #1eb3e0 !default; //
$color-default-red: #eb0f33 !default; //
$color-default-brown: #aa834f !default; //
$color-default-yellow: #f5c505 !default; //
$color-default-orange: #f6790b !default; //
$color-default-pink: #ca1387 !default; //
$color-default-purple: #7329b1 !default; //
$color-default-turquoise: #3feac3 !default; //
$color-default: (
	"Black": #101010, 
	"Dark": #303030, 
	"White": #ffffff, 
	"Offwhite": #f7f7f7, 
	"Gray": #7f7f7f, 
	"Green": #10c565, 
	"Blue": #1eb3e0, 
	"Red": #eb0f33, 
	"Brown": #aa834f, 
	"Yellow": #f5c505, 
	"Orange": #f6790b, 
	"Pink": #ca1387, 
	"Purple": #7329b1, 
	"Turquoise": #3feac3
) !default; //