$ease-linear: '0.25, 0.25, 0.75, 0.75' !default; //
$ease-ease: '0.25, 0.10, 0.25, 1' !default; //
$ease-ease-in: '0.42, 0, 1, 1' !default; //
$ease-ease-out: '0, 0, 0.58, 1' !default; //
$ease-ease-in-out: '0.42, 0, 0.58, 1' !default; //
$ease-easeinquad: '0.55, 0.085, 0.68, 0.53' !default; //
$ease-easeincubic: '0.55, 0.055, 0.675, 0.19' !default; //
$ease-easeinquart: '0.895, 0.03, 0.685, 0.22' !default; //
$ease-easeinquint: '0.755, 0.05, 0.855, 0.06' !default; //
$ease-easeinsine: '0.47, 0, 0.745, 0.715' !default; //
$ease-easeinexpo: '0.95, 0.05, 0.795, 0.035' !default; //
$ease-easeincirc: '0.60, 0.04, 0.98, 0.335' !default; //
$ease-easeinback: '0.60, -0.28, 0.735, 0.045' !default; //
$ease-easeoutquad: '0.25, 0.46, 0.45, 0.94' !default; //
$ease-easeoutcubic: '0.215, 0.61, 0.355, 1' !default; //
$ease-easeoutquart: '0.165, 0.84, 0.44, 1' !default; //
$ease-easeoutquint: '0.23, 1, 0.32, 1' !default; //
$ease-easeoutsine: '0.39, 0.575, 0.565, 1' !default; //
$ease-easeoutexpo: '0.19, 1, 0.22, 1' !default; //
$ease-easeoutcirc: '0.075, 0.82, 0.165, 1' !default; //
$ease-easeoutback: '0.175, 0.885, 0.32, 1.275' !default; //
$ease-easeinoutquad: '0.455, 0.03, 0.515, 0.955' !default; //
$ease-easeinoutcubic: '0.645, 0.045, 0.355, 1' !default; //
$ease-easeinoutquart: '0.77, 0, 0.175, 1' !default; //
$ease-easeinoutquint: '0.86, 0, 0.07, 1' !default; //
$ease-easeinoutsine: '0.445, 0.05, 0.55, 0.95' !default; //
$ease-easeinoutexpo: '1, 0, 0, 1' !default; //
$ease-easeinoutcirc: '0.785, 0.135, 0.15, 0.86' !default; //
$ease-easeinoutback: '0.68, -0.55, 0.265, 1.55' !default; //
$ease: (
	"linear": '0.25, 0.25, 0.75, 0.75', 
	"ease": '0.25, 0.10, 0.25, 1', 
	"ease-in": '0.42, 0, 1, 1', 
	"ease-out": '0, 0, 0.58, 1', 
	"ease-in-out": '0.42, 0, 0.58, 1', 
	"easeInQuad": '0.55, 0.085, 0.68, 0.53', 
	"easeInCubic": '0.55, 0.055, 0.675, 0.19', 
	"easeInQuart": '0.895, 0.03, 0.685, 0.22', 
	"easeInQuint": '0.755, 0.05, 0.855, 0.06', 
	"easeInSine": '0.47, 0, 0.745, 0.715', 
	"easeInExpo": '0.95, 0.05, 0.795, 0.035', 
	"easeInCirc": '0.60, 0.04, 0.98, 0.335', 
	"easeInBack": '0.60, -0.28, 0.735, 0.045', 
	"easeOutQuad": '0.25, 0.46, 0.45, 0.94', 
	"easeOutCubic": '0.215, 0.61, 0.355, 1', 
	"easeOutQuart": '0.165, 0.84, 0.44, 1', 
	"easeOutQuint": '0.23, 1, 0.32, 1', 
	"easeOutSine": '0.39, 0.575, 0.565, 1', 
	"easeOutExpo": '0.19, 1, 0.22, 1', 
	"easeOutCirc": '0.075, 0.82, 0.165, 1', 
	"easeOutBack": '0.175, 0.885, 0.32, 1.275', 
	"easeInOutQuad": '0.455, 0.03, 0.515, 0.955', 
	"easeInOutCubic": '0.645, 0.045, 0.355, 1', 
	"easeInOutQuart": '0.77, 0, 0.175, 1', 
	"easeInOutQuint": '0.86, 0, 0.07, 1', 
	"easeInOutSine": '0.445, 0.05, 0.55, 0.95', 
	"easeInOutExpo": '1, 0, 0, 1', 
	"easeInOutCirc": '0.785, 0.135, 0.15, 0.86', 
	"easeInOutBack": '0.68, -0.55, 0.265, 1.55'
) !default; //