$default-input-background-color: #ffffff !default; //
$default-input-border-color: #101010 !default; //
$default-input-border-style: 'solid' !default; //
$default-input-border-width: 1px !default; //
$default-input-font-size: 1rem !default; //
$default-input-line-height: 1rem !default; //
$default-input-border-radius: 2px !default; //
$default-input-min-width: 10rem !default; //
$default-input-max-width: 100% !default; //
$default-input-padding: 0.75rem !default; //
$default-input: (
	"background-color": #ffffff, 
	"border-color": #101010, 
	"border-style": 'solid', 
	"border-width": 1px, 
	"font-size": 1rem, 
	"line-height": 1rem, 
	"border-radius": 2px, 
	"min-width": 10rem, 
	"max-width": 100%, 
	"padding": 0.75rem
) !default; //