$iconset-title: 'social' !default; //
$iconset-icons-facebook-f: '\b001' !default; //
$iconset-icons-facebook: '\b002' !default; //
$iconset-icons-instagram: '\b003' !default; //
$iconset-icons-twitter: '\b004' !default; //
$iconset-icons-youtube: '\b005' !default; //
$iconset-icons: (
	"facebook-f": '\b001', 
	"facebook": '\b002', 
	"instagram": '\b003', 
	"twitter": '\b004', 
	"youtube": '\b005'
) !default; //