$iconset-title: 'defaults' !default; //
$iconset-icons-arrow-bottom: '\a001' !default; //
$iconset-icons-arrow-left: '\a002' !default; //
$iconset-icons-arrow-right: '\a003' !default; //
$iconset-icons-arrow-top: '\a004' !default; //
$iconset-icons-close-s: '\a005' !default; //
$iconset-icons-close: '\a006' !default; //
$iconset-icons-go-back: '\a007' !default; //
$iconset-icons-go-down: '\a008' !default; //
$iconset-icons-go-next: '\a009' !default; //
$iconset-icons-go-up: '\a00a' !default; //
$iconset-icons-zoom-in: '\a00b' !default; //
$iconset-icons-zoom-out: '\a00c' !default; //
$iconset-icons-zoom: '\a00d' !default; //
$iconset-icons: (
	"arrow-bottom": '\a001', 
	"arrow-left": '\a002', 
	"arrow-right": '\a003', 
	"arrow-top": '\a004', 
	"close-s": '\a005', 
	"close": '\a006', 
	"go-back": '\a007', 
	"go-down": '\a008', 
	"go-next": '\a009', 
	"go-up": '\a00a', 
	"zoom-in": '\a00b', 
	"zoom-out": '\a00c', 
	"zoom": '\a00d'
) !default; //