@mixin font-include(
	$name,
	$file,
	$weight: normal,
	$type: normal,
	$files: ("eot", "woff", "svg", "ttf"),
	$path: $base-font-path
) {
	$src: ();

	@if contains($files, "eot") {
		$value: "url('#{$path}/#{$file}.eot?#iefix') format('embedded-opentype')";
		$src: append($src, $value);
	} @else {
		@debug "doesnt contain eot";
	}
	@if contains($files, "woff") {
		$value: "url('#{$path}/#{$file}.woff') format('woff')";
		$src: append($src, $value);
	}
	@if contains($files, "woff2") {
		$value: "url('#{$path}/#{$file}.woff2') format('woff2')";
		$src: append($src, $value);
	}
	@if contains($files, "ttf") {
		$value: "url('#{$path}/#{$file}.ttf') format('truetype')";
		$src: append($src, $value);
	}
	@if contains($files, "otf") {
		$value: "url('#{$path}/#{$file}.otf') format('otf')";
		$src: append($src, $value);
	}
	@if contains($files, "svg") {
		$value: "url('#{$path}/#{$file}.svg##{$name}') format('svg')";
		$src: append($src, $value);
	}

	@font-face {
		font-family: $name;
		src: to-string($src, ",");
		font-weight: $weight;
		font-style: unquote($type);
	}
}

@mixin font-list(
	$title,
	$name,
	$weights,
	$types: ("normal"),
	$files: ("eot", "woff", "svg", "ttf"),
	$path: $base-font-path
) {
	@each $type in $types {
		$italic: "";
		@if $type == "italic" {
			$italic: "Italic";
		}
		@for $i from 1 through length($weights) {
			//		$weight: unquote("#{nth($weights,$i)}");
			$weight: nth($weights, $i);
			@include font-include(
				$title,
				unquote("#{$name}-#{nth($weight, 1)}#{$italic}"),
				nth($weight, 2),
				$type,
				$files,
				$path
			);
		}
	}
}
