$iconset-basic-play: '\25b6' !default; //
$iconset-basic-stop: '\25fc' !default; //
$iconset-basic-pause: '\2759\2759' !default; //
$iconset-basic-plus: '\2795' !default; //
$iconset-basic-minus: '\2796' !default; //
$iconset-basic-close: '\2715' !default; //
$iconset-basic-close2: '\2716' !default; //
$iconset-basic-close3: '\2717' !default; //
$iconset-basic-close4: '\2573' !default; //
$iconset-basic-arrow-left: '\2190' !default; //
$iconset-basic-arrow-up: '\2191' !default; //
$iconset-basic-arrow-right: '\2192' !default; //
$iconset-basic-arrow-down: '\2193' !default; //
$iconset-basic-arrow-left-up: '\2196' !default; //
$iconset-basic-arrow-right-up: '\2197' !default; //
$iconset-basic-arrow-right-down: '\2198' !default; //
$iconset-basic-arrow-left-down: '\2199' !default; //
$iconset-basic-to-up: '\2934' !default; //
$iconset-basic-to-down: '\2935' !default; //
$iconset-basic-to-left: '\2937' !default; //
$iconset-basic-to-right: '\2938' !default; //
$iconset-basic-hamburger: '\2630' !default; //
$iconset-basic-real-arrow: '\2794' !default; //
$iconset-basic-go-prev: '\276e' !default; //
$iconset-basic-go-next: '\276f' !default; //
$iconset-basic-glasses: '\25ef\25e0\25ef' !default; //
$iconset-basic-star-lines: '\2606' !default; //
$iconset-basic-star: '\2605' !default; //
$iconset-basic: (
	"play": '\25b6', 
	"stop": '\25fc', 
	"pause": '\2759\2759', 
	"plus": '\2795', 
	"minus": '\2796', 
	"close": '\2715', 
	"close2": '\2716', 
	"close3": '\2717', 
	"close4": '\2573', 
	"arrow-left": '\2190', 
	"arrow-up": '\2191', 
	"arrow-right": '\2192', 
	"arrow-down": '\2193', 
	"arrow-left-up": '\2196', 
	"arrow-right-up": '\2197', 
	"arrow-right-down": '\2198', 
	"arrow-left-down": '\2199', 
	"to-up": '\2934', 
	"to-down": '\2935', 
	"to-left": '\2937', 
	"to-right": '\2938', 
	"hamburger": '\2630', 
	"real-arrow": '\2794', 
	"go-prev": '\276e', 
	"go-next": '\276f', 
	"glasses": '\25ef\25e0\25ef', 
	"star-lines": '\2606', 
	"star": '\2605'
) !default; //