@mixin ease($ease-name, $property: null) {
	@if length(map-get($ease, $ease-name) > 0) {
		animation-timing-function: cubic-bezier(#{unquote($ease-value)});
		transition-timing-function: cubic-bezier(#{unquote($ease-value)});
	} @else {
		@warn "#{$ease-name} doesn't exist";
	}
}

@mixin henris-ease($prefix: '.ease-'){
	$temp: ();
	@each $ease-name, $ease-value in $ease {
		#{$prefix}#{$ease-name} {
			&,
			&::before,
			&::after {
				animation-timing-function: cubic-bezier(#{unquote($ease-value)});
				transition-timing-function: cubic-bezier(#{unquote($ease-value)});
			}
			$temp: join($temp, $ease-name);
		}
	}
}

@if output("components", "ease", "ease-classes") {
	@include henris-ease();
}
