@if output("components", "code") {
	.content code {
		display: inline-block;
		background-color: rgba($primary-color, 0.05);
		font-size: rem(12);
		font-family: unquote($typography-fonts-mono);
		line-height: 1.5;
		padding: 0.25rem 0.5rem;
	}
}
