@if output(("components", "code")) {
	.content code {
		background-color: rgba($primary, 0.05);
		padding: 0.25rem 0.5rem;
		font-size: rem(12);
		line-height: 1.5;
		font-family: unquote($typography-fonts-mono);
		display: inline-block;
	}
}
