@include output(("components", "component-code")) {
	code {
		border: 1px solid color(Black, 0.1);
		background-color: color(White, 0.1);
		padding: 0.25rem 0.5rem;
		font-size: rem(14);
		line-height: 1rem;
		font-family: unquote($typography-fonts-mono);
		display: inline-block;
	}
}
