@mixin henris-detail-list($el: 'dl') {

	#{$base-prefix}#{$el} {
		margin: 0px;
		padding: 0px;
		overflow: auto;
		display: flex;
		flex-wrap: wrap;
		overflow: auto;
		margin: 0px;
		padding: 0px;
		dt,
		dd {
			display: inline-block;
			flex-grow: 1;
			min-width: 200px;
			padding: 1rem 0;
		}
		dt {
			width: 40%;
		}
		dd {
			width: 60%;
		}
		dt + dd {
			//	padding-top: 0;
		}
	}
}

@if output('components', 'detail-list') {
	@include henris-detail-list();
}
