@function slugify(
	$value,
	$accepted: "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ"
) {
	$slug: null;
	$value: to-string($value);
	$list: str-to-list($value);
	$sum: length($list);
	$return: nth($list, $sum);
	@return $return;
}
//
// Usage:
// In list use  $c:c($c); to capture values
// recall by using example:  #{map-get($c,'bg-holder')}
//
$c: ();

@function c($map: ()) {
	$classlist: "";
	@if type-of(&) != "null" {
		$classlist: &;
	} @else {
		$classlist: "11";
	}
	$value: to-string($classlist);
	@if type-of($map) != list {
		@if type-of($map) != map {
			$map: ();
		}
	}
	$new: (slugify($value): $value); //
	$map: map-merge($map, $new);
	//  @debug $map;
	@return $map;
}
@function get-c($value, $c) {
	@return map-get($c, $value);
}
