@function calculateRem($size) {
	$remSize: $size / #{$base-font-size}px;
	@return $remSize * 1rem;
}

@function convert-to-rem($value, $base-value: $rem-base) {
	$value: strip-unit($value) / strip-unit($base-value) * 1rem;
	@if ($value == 0rem) {
		$value: 0;
	} // Turn 0rem into 0
	@return $value;
}

@function rem-calc($values, $base-value: $base-font-size) {
	$max: length($values);
	@if $max == 1 {
		@return convert-to-rem(nth($values, 1), $base-value);
	}

	$remValues: ();

	@for $i from 1 through $max {
		$remValues: append(
			$remValues,
			convert-to-rem(nth($values, $i), $base-value)
		);
	}

	@return $remValues;
}
@function rem($value) {
	$sizes: null;
	@if length($value) > 1 {
		@each $size in $value {
			$sizes: $sizes #{rem-calc($size)};
		}
	} @else {
		$sizes: rem-calc($value);
	}
	@return $sizes;
}
@function space($value) {
	$sizes: null;
	@if length($value) > 1 {
		@each $size in $value {
			$sizes: $sizes #{rem($size * $space)};
		}
	} @else {
		$sizes: #{rem($value * $space)};
	}
	@return $sizes;
}

@function spc($value) {
	$size: space($value);
	@return $size;
}

