// a map-set function (not included with Sass)
@function map-set($map, $key, $value) {
	$new: ($key: $value);
	@return map-merge($map, $new);
}

@function to-map($list) {
	$newmap: ();
	@if type-of($list) == "list" {
		@each $item-name, $item-value in $list {
			$item: ("#{$item-name}": $item-value);
			$newmap: map-merge($newmap, $item);
		}
		@return $newmap;
	} @else if type-of($list) == "map" {
		@return $list;
	} @else {
		@return ();
	}
}
