/* ----------------------------------------- */
/*    Get the color from the colorset;      */
/* --------------------------------------- */

@function output($args: ()) {
	$doOutput: true;
	/*
        Check the overall setting. If false, do not output any css
    */
	@if $output-css == false {
		$doOutput: false;
	}

	/*
        Go through all $arguments
    */
	@each $arg in $args {
		@if variable-exists(output-#{$arg}) {
			@if map-get($output, $arg) == false {
				$doOutput: false;
			}
		} @else {
			@warn "#{$arg} does not exist in the settings.";
		}
	}

	/*
        In the end, determine if this prop should return anything.
    */
	@return $doOutput;
}
