@mixin henris-input-default() {
	min-width: 10rem;
	max-width: 100%;
	border: 1px solid rgba($color-dark, 0.1);
	border-radius: $base-border-radius;
	background: rgba($color-light, 1);
	font-size: 1rem;
	line-height: 1rem;
	-webkit-appearance: none;
	padding: 0.75rem 0.75rem;
	&::placeholder {
		color: rgba($color-dark, 0.1);
		opacity: 1;
		transition: filter 0.3s;
	}
	&:focus {
		outline: 2px solid rgba($primary-color, 0.25);
	}
	&:focus,
	&:focus:hover {
		&::placeholder {
			filter: blur(5px);
		}
	}
	&:hover {
		border: 1px solid color(Black, 0.2);
		&::placeholder {
			color: rgba($color-dark, 0.2);
			filter: blur(0px);
		}
	}
}
@mixin henris-input-ghost() {
	background-color: transparent;
	color: currentColor;
	@if output('form-input-colored') {
		@each $color-name, $color-value in $colors {
			.bg-#{to-lower-case($color-name)} &,
			.bg-#{$color-name} & {
				border-color: contra($color-name);
				color: contra($color-name);
			}
		}
	}
}
