@mixin henris-fieldset($el: 'fieldset'){
	#{$el} {
		margin: 0;
		padding: 0;
		border: none;
		& + #{$el} {
			margin-top: grid(0.5);
			border-top: 1px solid color(Black, 0.1);
			@include min-("margin-top", 0.5, 16);
		}
		label {
			display: inline-block;
			flex-shrink: 0;
			width: 33%;
			margin-top: 1rem;
			padding-top: 0.75rem;
			&:nth-child(1) {
				&,
				& + input,
				& + select & + textarea {
					margin-top: 0;
				}
			}
			@media #{$small-only} {
				width: 100%;
			}
		}
		.input-group,
		input,
		textarea,
		select {
			display: inline-block;
			width: 50%;
			@media #{$small-only} {
				width: 100%;
			}
		}
		label + .input-group,
		label + input,
		label + textarea,
		label + select {
			margin-top: 1rem;
		}
	}

	form {
		#{$el} {
			div:not([class]) {
				& + div:not([class]) {
					margin-top: 1rem;
				}
			}
			& + fieldset {
				padding-top: 1rem;
			}
			.extra {
				background-color: color(Offwhite);
				padding: 1rem;
			}
		}
	}

	details {
		max-height: 50vh;
		transition: max-height 0.3s;
		summary {
			outline: none;
			font-weight: bold;
			font-size: 14px;
			letter-spacing: 1px;
			text-transform: uppercase;
			&:focus {
				outline: none;
			}
			& + fieldset {
				margin-top: 1rem;
			}
		}
		&:not([open]) {
			max-height: 1rem;
		}
		&[open] {
		}
		& + details {
			margin-top: 1rem;
		}
		summary::-webkit-details-marker {
			display: none;
		}
		summary::after {
			content: "\276E";
			display: block;
			float: left;
			width: 14px;
			height: 14px;
			line-height: 14px;
			text-align: center;
			transform: scale(1, 1) rotate(90deg);
			transition: transform 0.2s;
			margin-right: 4px;
		}
		&[open] summary::after {
			transform: scale(1, -1) rotate(90deg);
		}
	}
	#{$el} {
		legend {
			font-weight: bold;
			font-size: 14px;
			letter-spacing: 1px;
			text-transform: uppercase;
		}
	}
}



@if output(form-fieldset) {
	@include henris-fieldset();
}