@mixin henris-input($el: '.input-field'){
	#{$el} {
		input {
			&[type='text'],
			&[type='email'],
			&[type='tel'],
			&[type='number'],
			&[type='password'],
			&[type='url'] {
				@include henris-input-default();
			}
		}
		.input {
			&--ghost,
			&--naked {
				input {
					&[type='text'],
					&[type='email'],
					&[type='tel'],
					&[type='number'],
					&[type='password'],
					&[type='url'] {
						@include henris-input-ghost();
					}
				}
			}
		}

		input {
			&[type='submit'],
			&[type='button'] {
				@include henris-button-default();
			}
		}

		input {
			&[type='color'] {
				-webkit-appearance: none;
				border: none;
				width: 32px;
				height: 32px;

				&::-webkit-color-swatch-wrapper {
					padding: 0;
				}
				&::-webkit-color-swatch {
					border: none;
				}
			}
		}
	}
}
@if output(form-input) {
	@include henris-input();
}
