@if output(form-input) {
	// position: absolute;
	// border: 10px solid purple;
	.input--field {
		input {
			&[type="text"],
			&[type="email"],
			&[type="tel"],
			&[type="number"],
			&[type="password"],
			&[type="url"] {
				@extend %default-input;
				// &:not(:placeholder-shown) {
				// 	border: 1px solid color(Black, 0.25);
				// }
			}
		}
		input:not([type]) {
			outline: 1px dashed color(Red);
		}
		.input {
			&--ghost,
			&--naked {
				input {
					&[type="text"],
					&[type="email"],
					&[type="tel"],
					&[type="number"],
					&[type="password"],
					&[type="url"] {
						@extend %default-input--ghost;
					}
				}
			}
		}

		input {
			&[type="submit"],
			&[type="button"] {
				@extend %default-button;
			}
		}

		input {
			&[type="color"] {
				-webkit-appearance: none;
				border: none;
				width: 32px;
				height: 32px;

				&::-webkit-color-swatch-wrapper {
					padding: 0;
				}
				&::-webkit-color-swatch {
					border: none;
				}
			}
		}
	}
}
