@if output(form-radio) {
	[type='radio'] {
		width: auto;
		min-width: auto;
		max-width: auto;
		-webkit-appearance: radio;
		-moz-appearance: radio;
		appearance: radio;
	}
	.input-radio {
		width: auto;
		height: auto;
		padding: 0;
		margin: 0;
		[type='radio'] {
			width: 0;
			height: 0;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			margin: 0;
			padding: 0;
			@include input-radio(
				1rem,
				1rem,
				0,
				0.25rem,
				#{$form-body-color},
				#{$form-accent-color},
				100%
			);
			@include input-radio-body {
				top: 50%;
				box-shadow: 0 0 0 #{$form-border-width} #{$form-border-color} inset;
				transform: translateY(-50%);
			}
			@include input-radio-check {
				top: calc(50%);
				transform: translateY(-50%);
			}
			@include input-radio-label {
				position: relative;
				width: auto;
				line-height: 2rem;
				padding: 0;
				padding-left: 2rem;
				margin: 0;
			}
		}
	}
	label[for] + input[type="radio"]{
		-webkit-appearance: radio;
		-moz-appearance: radio;
		appearance: radio;
		opacity: 1; 
		width: 1rem;
		height: 1rem;
		border-radius: 50%;
		border: #{$form-border-width} solid #{$form-border-color};
	}
}
