@mixin henris-check-icon($el: '.input-check-icon') {
	#{$base-prefix}#{$el} {
		height: auto;
		width: auto;
		padding: 0;
		margin: 0;
		@content;
		label {
			display: block;
			margin-top: 0;
			padding: 0;
			padding-left: 2.5em;
			line-height: 2.5;
			position: relative;
			min-width: 2.5em;
			&:after,
			&:before {
				content: '';
			}
		}
		input[type='checkbox'],
		input[type='radio'] {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			width: 0;
			height: 0;
			margin: 0;
			padding: 0;
			position: absolute;
			opacity: 0;
		}

		label:before {
			display: block;
			position: absolute;
			left: 0;
			top: 0.5em;
			width: 2.5em;
			height: 2.5em;
			line-height: 2.5em;
			text-align: center;
			text-indent: 0;
			box-shadow: 0 0 0 1px color(Black, 0.15);
			border-radius: $base-border-radius;
		}

		label:after {
			display: block;
			position: absolute;
			left: 0.5em;
			top: 1em;
			width: 0.5em;
			height: 0.5em;
			background-color: white;
			transform: scale(0);
		}
		input:checked {
			& + label:before {
				background-color: color(Black);
				color: color(White);
				// transform: scale(1);
			}
		}
		&.input-check--nolabel {
			width: 2.5rem;
			margin: 0.25rem;
			display: inline-block;
			text-indent: -999em;
			&:before {
				text-indent: 0;
				top: 0 !important;
			}
			& + .input-check--nolabel {
				margin: 0.25rem;
			}
		}
	}
	@each $iconName, $iconValue in $iconset-basic {
		#{$el}--#{$iconName} {
			label:before {
				content: '#{$iconValue}';
				@include icon-specific-style($iconName);
			}
		}
	}
}

@if output(form-check-icon) {
	@include henris-check-icon();
}
