@if output(form-checkbox) {
	input[type="checkbox"] {
		-webkit-appearance: checkbox;
		-moz-appearance: checkbox;
		appearance: checkbox;
		width: auto;
		max-width: auto;
		min-width: auto;
	}
	.input--checkbox {
		height: auto;
		width: auto;
		padding: 0;
		margin: 0;
		input[type="checkbox"] {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			width: 0;
			height: 0;
			margin: 0;
			padding: 0;
			&:not(.hidden) {
				@include input-checkbox(
					1rem,
					1rem,
					0,
					0.25rem,
					color(White),
					color(Blue),
					0%
				);
				@include input-checkbox-body {
					box-shadow: 0 0 0 1px color(Black, 0.2) inset;
					top: 50%;
					transform: translateY(-50%);
				}
				@include input-checkbox-check {
					top: calc(50%);
					transform: translateY(-50%);
				}
				@include input-checkbox-label {
					position: relative;
					padding: 0;
					padding-left: 2rem;
					width: auto;
					line-height: 2rem;
					margin: 0;
				}
			}
			&.hidden {
				width: 0;
				height: 0;
				opacity: 0;
				position: absolute;
				& + label {
					&:before,
					&:after {
						content: none;
					}
				}
			}
		}
	}
}
