@mixin henris-hidden($el: 'input.hidden') {
	#{$el} {
		width: 0;
		height: 0;
		opacity: 0;
		position: absolute;
		& + label {
			&::before,
			&::after {
				content: none;
			}
		}
	}
}

@if output(form-hidden) {
	@include henris-hidden();
}