@mixin henris-input-range($el: '.input-range') {
	#{$el} {
		display: flex;
		input[type='range'] {
			-webkit-appearance: none;
			margin: 10px 0;
			background: transparent;
		}
		input[type='range']:focus {
			outline: none;
		}
		input[type='range']::-webkit-slider-runnable-track {
			width: 100%;
			height: 0.5rem;
			cursor: pointer;
			animation-timing-function: 0.2s;
			box-shadow: 0px 0px 0px var(--range-shadow, #{color(Black)}),
				0px 0px 0px var(--range-shadow, #{color(Black)});
			background: var(--range-background, #{color(Gray, 0.5)});
			border-radius: 25px;
			border: 0px solid var(--range-shadow, #{color(Black)});
		}
		input[type='range']:focus::-webkit-slider-runnable-track {
			background-color: var(--range-active, #{rgba($primary-color, 0.5)});
		}
		input[type='range']::-webkit-slider-thumb {
			box-shadow: 0px 0px 0px var(--range-shadow, #{color(Black)}),
				0px 0px 0px var(--range-shadow, #{color(Black)});
			border: 0px solid var(--range-shadow, #{color(Black)});
			height: 1rem;
			width: 1rem;
			border-radius: 50%;
			background: color(White);
			box-shadow: 0 0 0.5rem 0 var(--range-shadow, #{color(Black, 0.25)});
			cursor: pointer;
			-webkit-appearance: none;
			margin-top: -3.6px;
		}
		input[type='range']:focus::-webkit-slider-runnable-track {
			background: var(--range-active, #{rgba($primary-color, 0.5)});
		}
		input[type='range']::-moz-range-track {
			width: 100%;
			height: 0.5rem;
			cursor: pointer;
			animation-timing-function: 0.2s;
			box-shadow: 0px 0px 0px var(--range-shadow, #{color(Black)}),
				0px 0px 0px var(--range-shadow, #{color(Black)});
			background: var(--range-background, #{color(Gray, 0.5)});
			border-radius: 25px;
			border: 0px solid var(--range-shadow, #{color(Black)});
		}
		input[type='range']::-moz-range-thumb {
			box-shadow: 0px 0px 0px var(--range-shadow, #{color(Black)}),
				0px 0px 0px var(--range-shadow, #{color(Black)});
			border: 0px solid var(--range-shadow, #{color(Black)});
			height: 1rem;
			width: 1rem;
			border-radius: 50%;
			background: color(White);
			cursor: pointer;
		}
		input[type='range']::-ms-track {
			width: 100%;
			height: 0.5rem;
			cursor: pointer;
			animation-timing-function: 0.2s;
			background: transparent;
			border-color: transparent;
			border-width: 1rem 0;
			color: transparent;
		}
		input[type='range']::-ms-fill-lower {
			background: color(White, 0.25);
			border: 0px solid #000101;
			border-radius: 50px;
			box-shadow: 0px 0px 0px var(--range-shadow, #{color(Black)}),
				0px 0px 0px var(--range-shadow, #{color(Black)});
		}
		input[type='range']::-ms-fill-upper {
			background: color(White, 0.25);
			border: 0px solid #000101;
			border-radius: 50px;
			box-shadow: 0px 0px 0px var(--range-shadow, #{color(Black)}),
				0px 0px 0px var(--range-shadow, #{color(Black)});
		}
		input[type='range']::-ms-thumb {
			box-shadow: 0px 0px 0px var(--range-shadow, #{color(Black)}),
				0px 0px 0px var(--range-shadow, #{color(Black)});
			border: 0px solid var(--range-shadow, #{color(Black)});
			height: 1rem;
			width: 1rem;
			border-radius: 50%;
			background: color(White);
			cursor: pointer;
		}
		input[type='range']:focus::-ms-fill-lower {
			background: var(--range-background, #{color(Gray, 0.5)});
		}
		input[type='range']:focus::-ms-fill-upper {
			background: var(--range-background, #{color(Gray, 0.5)});
		}
	}
}

@if output(form-range) {
	@include henris-input-range;
}
