@mixin henris-checkbox($el: '.input-checkbox') {
	[type='checkbox'] {
		width: auto;
		min-width: auto;
		max-width: auto;
		-webkit-appearance: checkbox;
		-moz-appearance: checkbox;
		appearance: checkbox;
	}
	#{$base-prefix}#{$el} {
		width: auto;
		height: auto;
		padding: 0;
		margin: 0;
		[type='checkbox'] {
			width: 0;
			height: 0;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			margin: 0;
			padding: 0;
			&:not(.hidden) {
				@include input-checkbox(
					1rem,
					1rem,
					0,
					0.25rem,
					#{$form-body-color},
					#{$form-accent-color},
					0%
				);
				@include input-checkbox-body {
					top: 50%;
					transform: translateY(-50%);
					box-shadow: 0 0 0 #{$form-border-width} #{$form-border-color} inset;
					border-radius: #{$form-border-radius};
				}
				@include input-checkbox-check {
					top: calc(50%);
					transform: translateY(-50%);
				}
				@include input-checkbox-label {
					position: relative;
					width: auto;
					line-height: 2rem;
					padding: 0;
					padding-left: 2rem;
					margin: 0;
				}
			}
			&.hidden {
				position: absolute;
				width: 0;
				height: 0;
				opacity: 0;
				& + label {
					&::before,
					&::after {
						content: none;
					}
				}
			}
		}
	}
}
@if output('form-checkbox') {
	@include henris-checkbox();
}
