@if output(form-radio) {
	input[type="radio"] {
		-webkit-appearance: radio;
		-moz-appearance: radio;
		appearance: radio;
		width: auto;
		max-width: auto;
		min-width: auto;
	}
	.input--radio {
		height: auto;
		width: auto;
		padding: 0;
		margin: 0;
		input[type="radio"] {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			width: 0;
			height: 0;
			margin: 0;
			padding: 0;
			@include input-radio(
				1rem,
				1rem,
				0,
				0.25rem,
				color(White),
				color(Blue),
				100%
			);
			@include input-radio-body {
				box-shadow: 0 0 0 1px color(Black, 0.2) inset;
				top: 50%;
				transform: translateY(-50%);
			}
			@include input-radio-check {
				top: calc(50%);
				transform: translateY(-50%);
			}
			@include input-radio-label {
				position: relative;
				padding: 0;
				padding-left: 2rem;
				width: auto;
				line-height: 2rem;
				margin: 0;
			}
		}
	}
}
