@if output(form-input) {
	.input-field {
		input {
			&[type="text"],
			&[type="email"],
			&[type="tel"],
			&[type="number"],
			&[type="password"],
			&[type="url"] {
				@extend %default-input;
			}
		}
		.input {
			&--ghost,
			&--naked {
				input {
					&[type="text"],
					&[type="email"],
					&[type="tel"],
					&[type="number"],
					&[type="password"],
					&[type="url"] {
						@extend %default-input--ghost;
					}
				}
			}
		}

		input {
			&[type="submit"],
			&[type="button"] {
				@extend %default-button;
			}
		}

		input {
			&[type="color"] {
				-webkit-appearance: none;
				border: none;
				width: 32px;
				height: 32px;

				&::-webkit-color-swatch-wrapper {
					padding: 0;
				}
				&::-webkit-color-swatch {
					border: none;
				}
			}
		}
	}
}
