@mixin henris-check-text($el: '.input-check-text') {
	#{$base-prefix}#{$el} {
		height: auto;
		width: auto;
		padding: 0;
		margin: 0;
		@content;
		label {
			position: relative;
			display: inline-block;
			left: 0;
			min-width: 2.5em;
			width: auto;
			padding: 0 1em;
			line-height: 2.5em;
			text-align: center;
			text-indent: 0;
			box-shadow: 0 0 0 1px color(Black, 0.15);
			border-radius: $base-border-radius;

			&:before {
				content: attr(data-text);
			}
		}
		input[type='checkbox'],
		input[type='radio'] {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			width: 0;
			height: 0;
			margin: 0;
			padding: 0;
			position: absolute;
			opacity: 0;
		}

		input:checked {
			& + label {
				background-color: color(Black);
				color: color(White);
			}
		}
		&.input-check--nolabel {
			margin: 0.25rem;
			&:before {
				top: 0 !important;
			}
			& + .input-check--nolabel {
				margin: 0.25rem;
			}
		}
	}
}



@if output(form-check-text) {
	@include henris-check-text();
}
