@mixin henris-input-switch($el: '.input-switch') {
	#{$base-prefix}#{$el} {
		display: inline-block;
		position: relative;
		input[type='checkbox'] {
			position: absolute;
			&:not(.hidden) {
				@include input-checkbox(
					2.5rem,
					1.5rem,
					0.75rem,
					0.25rem,
					color(White),
					color(Blue),
					0.75rem
				);
				@include input-checkbox-body {
					box-shadow: 0 0 0 1px color(Black, 0.2) inset;
				}

				@include input-checkbox-check {
					opacity: 1;
					height: 1rem;
					width: 1rem;
					background-color: color(Black, 0.25);
					transform: none;
				}
				@include input-checkbox-check-checked {
					opacity: 1;
					background-color: color(Blue);
					left: 1.25rem;
				}
				@include input-checkbox-label {
					position: relative;
					padding-left: 4rem;
				}
			}
		}
	}
}

@if output(form-switch) {
	@include henris-input-switch();
}
