@mixin henris-label($el: 'label') {
	#{$base-prefix}#{$el} {
		padding-left: 0;
		transition: padding-left 0.3s ease-in-out;
		padding-right: 1rem;
		form & {
			&:hover {
				& + input,
				& + textarea,
				& + select {
					background-color: color(Offwhite);
				}
			}
		}
	}
}

@if output(form-label) {
	@include henris-label();
}
