@mixin henris-label($el: 'label') {
	#{$base-prefix}#{$el} {
		line-height:var(--form-input-line-height, #{$form-input-line-height});
		transition: padding-left 0.3s ease-in-out;
		padding-left: 0;
		margin-right: 1rem;
		padding: var(--form-input-padding, #{$form-input-padding});

		form & {
			&:hover {
				& + input,
				& + textarea,
				& + select {
					background-color: color(Offwhite);
				}
			}
		}
	}
}

@if output(form-label) {
	@include henris-label();
}
