@mixin henris-textarea($el: 'textarea'){
	#{$el} {
		@include henris-input-default();
		min-height: 5rem;
		resize: none;
		&:not(:empty) {
			border: 1px solid color(Black, 0.25);
		}
	}
}
@if output(form-textarea) {
	@include henris-input-field(){
		@include henris-textarea();
	}
}

