// colors
$accentColor = #3bbbf0
$textColor = #1d1d1d
$borderColor = #eaecef
$codeBgColor = #1d1d1d
$arrowBgColor = #ccc

// layout
// $navbarHeight = ((100/24) * 1.5)vw;
$sidebarWidth = 20rem
$contentWidth = 740px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px