@function convertToFontname($font, $convert: false) {
	$family: map-get($font, font-family);
	$font-name: "";
	@if type-of(map-get($font, font-family)) == "string" {
		$font-name: nth(str-split($family, ","), 1);
	} @else if type-of($family) == "list" {
		$font-name: nth($family, 1);
	}
	@if $convert {
		$font-name: str-replace($font-name, " ", "");
	}
	@return $font-name;
}

@function font-quotes($values) {
	$list: $values;
	@if type-of($values) != "list" {
		$list: #{$values};
	} @else {
		$newlist: ();
		@each $item in $list {
			@if str-index($item, " ") {
				$item: '"#{$item}"';
			}
			$newlist: append($newlist, $item, comma);
		}
		$list: $newlist;
	}
	@return $list;
}
