h1 {
	font-size: grid(1);
	line-height: 1;
	@include min-("font-size", 1, 32);
}

h2 {
	font-size: grid(0.8);
	line-height: 1;
	@include min-("font-size", 0.8, 28);
}

h3 {
	font-size: grid(0.6);
	line-height: 1.25;
	@include min-("font-size", 0.6, 24);
}

h4 {
	font-size: grid(0.5);
	line-height: 1.25;
	@include min-("font-size", 0.5, 20);
}

h5 {
	font-size: grid(0.4);
	line-height: 1.25;
	@include min-("font-size", 0.4, 18);
}
h6 {
	font-size: grid(0.3);
	line-height: 1.25;
	@include min-("font-size", 0.3, 16);
}
