// Check if the grid function works properly
$output-css: true;
@include test-module("Output CSS [function]") {
	@include test("Output should be returned") {
		// Assert the expected results
		$preveredOutput: 0;
		@if output(css) {
			$preveredOutput: 1;
		}
		@include assert-equal($preveredOutput, 1);
	}
}
// Redefine settings:
// This is necessary to check.
// Variables need to be set Before implementation.
$output-css: false;
@import "../../index.scss";
@include test-module("Output CSS [function]") {
	@include test("Output should not be returned") {
		// Assert the expected results
		$preveredOutput: 0;
		@if output(css) {
			$preveredOutput: 1;
		}
		@include assert-equal($preveredOutput, 0);
	}
}

// Redefine settings:
$output-css: true;
$output: output-define(button, true);
$output: output-define(button-icons, true);

@import "../../index.scss";

// Check parent child outputs.
@include test-module("Output Button [function]") {
	@include test("Output button Icon should be returned") {
		// Assert the expected results
		$preveredOutput: 0;
		@if output(button-icons) {
			$preveredOutput: 1;
		}
		@include assert-equal($preveredOutput, 1);
	}
}

// Redefine settings:
$output-css: true;
$output: output-define(button, true);
$output: output-define(button-icons, false);
@import "../../index.scss";

// Check parent child outputs.
@include test-module("Output Button [function]") {
	@include test(
		"Output button Icon should not be returned (because 'button-icons' is false)"
	) {
		// Assert the expected results
		$preveredOutput: 0;
		@if output(button-icons) {
			$preveredOutput: 1;
		}
		@include assert-equal($preveredOutput, 0);
	}
}

// Redefine settings:
$output-css: true;
$output: output-define(button, false);
$output: output-define(button-icons, true);
@import "../../index.scss";

// Check parent child outputs.
@include test-module("Output Button [function]") {
	@include test(
		"Output button Icon should not be returned (because parent 'button' is false)."
	) {
		// Assert the expected results
		$preveredOutput: 0;
		@if output(button-icons) {
			$preveredOutput: 1;
		}
		@include assert-equal($preveredOutput, 0);
	}
}
