@mixin henris-table($el: 'table'){
	#{$base-prefix}#{$el} {
		border-radius: $base-border-radius;
		border-collapse: collapse;

		& + #{$base-prefix}#{$el} {
			margin-top: grid(1);
			@include min-("margin-top", 1, 30);
		}
		&.full-width {
			width: 100%;
		}
		caption {
			border: 1px solid currentColor;
			padding: 1rem;
			font-weight: bold;
		}
		td,
		th {
			padding: 1rem;
			border-bottom: 1px solid color(Black, 0.1);
			font-size: rem(14);
			vertical-align: top;
		}
		th {
			text-align: left;
			font-weight: bold;
		}
		thead,
		tbody,
		tfoot {
			&:last-child {
				th:last-child {
					td,
					th {
						border-bottom: none;
					}
				}
			}
		}
		&.even-odd {
			tr {
				&:nth-child(even) {
					background-color: rgba($primary-color, 0.05);
					code {
						background-color: rgba($primary-color, 0.1);
					}
				}
			}
		}
		&.responsive {
			@media #{$small-only} {
				display: block;
				width: 100%;
			}
			td,
			th {
				@media #{$small-only} {
					display: block;
					border: none;
					&:last-child {
						border-bottom: 1px solid currentColor;
					}
				}
			}
			tr {
				@media #{$small-only} {
					display: block;
				}
			}
		}
	}
}

@if output("table") {
	@include henris-table();
}
