//
// Sets the default variables for colors.
$color-dark: color(Black) !default;
$color-light: color(White) !default;
$primary-color: color(Purple) !default;
$secondary-color: color(Blue) !default;
$tertiary-color: color(Pink) !default;
$color-link: color(Blue) !default;
$color-info: color(Turquoise) !default;
$color-success: color(Green) !default;
$color-warning: color(Orange) !default;
$color-danger: color(Red) !default;
