@if output("grid-hide-show-classes") {
	// Hide classes
	.hide-for-large-up {
		@media #{$large-up} {
			display: none;
		}
	}
	.hide-for-large-only {
		@media #{$large-only} {
			display: none;
		}
	}
	.hide-for-medium-up {
		@media #{$medium-up} {
			display: none;
		}
	}
	.hide-for-medium-only {
		@media #{$medium-only} {
			display: none;
		}
	}
	.hide-for-small {
		@media #{$small-only} {
			display: none;
		}
	}

	// Show classes
	.show-for-small-only {
		@media #{$medium-up} {
			display: none;
		}
	}
	.show-for-medium-only {
		@media #{$small-only} {
			display: none;
		}
		@media #{$large-up} {
			display: none;
		}
	}
	.show-for-large-only {
		@media #{$medium-down} {
			display: none;
		}
		@media #{$xlarge-up} {
			display: none;
		}
	}
}
