@if output("grid-hide-show-classes") {
	// Hide classes
	@media #{$large-up} {
		.hide-for-large-up {
			display: none;
		}
	}
	@media #{$large-only} {
		.hide-for-large-only {
			display: none;
		}
	}
	@media #{$medium-up} {
		.hide-for-medium-up {
			display: none;
		}
	}
	@media #{$medium-only} {
		.hide-for-medium-only {
			display: none;
		}
	}
	@media #{$small-only} {
		.hide-for-small {
			display: none;
		}
	}

	// Show classes
	@media #{$medium-up} {
		.show-for-small-only {
			display: none;
		}
	}
	@media #{$small-only} {
		.show-for-medium-only {
			display: none;
		}
	}
	@media #{$large-up} {
		.show-for-medium-only {
			display: none;
		}
	}

	@media #{$medium-down} {
		.show-for-large-only {
			display: none;
		}
	}
	@media #{$xlarge-up} {
		.show-for-large-only {
			display: none;
		}
	}
}
